{% macro flash_messages() %}
    {% for type, messages in app.session.flashBag.all() %}
        {% if 'error' == type %}
            {% set type = 'danger' %}
        {% endif %}
        <div class="alert alert-{{type}} alert-dismissible text-center ag-error-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for message in  messages%}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro form_row(field, label, attrs, help) %}
    <div class="form-group {% if field.vars.errors|length %} has-error{% endif %}">
    {{ form_label(field, label, {label_attr:{class:'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(field, attrs|default([])) }}
        {% if field.vars.errors|length %}
            <span class="help-block">{{ form_errors(field) }}</span>
        {% elseif help|length %}
            <span class="help-block">{{ help }}</span>
        {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro paginator(paginator) %}
  {% if paginator.lastPage|default(0) > 1 %}
      <ul class="pagination" style="line-height:30px;">
        <li {% if paginator.currentPage == paginator.firstPage %}class="disabled"{% endif %}><a  href="{{ paginator.getPageUrl(paginator.previousPage) }}">上一页</a></li>

        {% for page in paginator.pages %}
          <li {% if page == paginator.currentPage %}class="active"{% endif %}><a href="{{ paginator.getPageUrl(page) }}">{{ page }}</a></li>
        {% endfor %}

        <li {% if paginator.currentPage == paginator.lastPage %}class="disabled"{% endif %}><a  href="{{ paginator.getPageUrl(paginator.nextPage) }}">下一页</a></li>
      </ul>
  {% endif %}
{% endmacro %}
