{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ product.product_name }} - {{ currentSku.short_name }} - {{ parent() }}{% endblock %}
{% set script = "product/show" %}


{% block body %}
    <div class="col-md-12">
        <ol class="breadcrumb agc-mtl">
          <li><a href="#">首页</a></li>
          <li><a href="#">数码</a></li>
          <li><a href="#">摄影</a></li>
          <li class="active">{{ product.product_name }}</li>
        </ol>
    </div>
    <div class="agc-product">
        <div class="col-md-5">
            <img src="http://img11.360buyimg.com/n1/jfs/t1516/284/1382374751/110663/c84cbbc2/55c86befN6b730aa5.jpg" />
            <img src="http://img11.360buyimg.com/n1/jfs/t1516/284/1382374751/110663/c84cbbc2/55c86befN6b730aa5.jpg" />
        </div>
        <div class="col-md-7">
            {{ dump(groupBySkuAttrs) }}
            <div class="agc-product">
                <div class="agc-product-title">
                    {{ product.product_name }}  {{ currentSku.short_name }}
                </div>
                {% if skuAttrs %}
                <div class="agc-sku-attr-list agc-mvl">
                    <span id="sku-attrs" class="hidden">{{ groupBySkuAttrs }}</span>
                    <ul>
                    {% for name, attrValues in skuAttrs %}
                        <li>
                        {{ name }}: 
                        {% set currentAttrValue = currentSkuAttr[name]|default('') %}
                        {% for value in attrValues %}
                            <a href="javascript:;" {% if currentAttrValue == value %}class="select"{% endif %} data-name={{ name }} data-value={{ value }}>{{ value }}</a>
                        {% endfor %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                <div class="bg-warning agc-ptm agc-pbm agc-plm agc-mbl">
                    <div>价格：<strong>{{ currentSku.price }}</strong></div>
                    <div>库存：{{ currentSku.inventory }}</div>
                </div>
                <a href="javascript:;" class="btn btn-danger" id="add-to-cart" data-url="{{ url('app_product_add_to_cart') }}" data-sku="{{ currentSku.sku }}">加入购物车</a>
            </div>
        </div>
    </div>
{% endblock %}