{% extends 'AdminBundle:Product:layout.html.twig' %}
{% set sub_nav = 'brand' %}
{% set script = 'brand/add' %}
{% block main %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}">首页</a></li>
        <li><a href="{{ path('admin_brand') }}">品牌列表</a></li>
        <li class="active">编辑品牌</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            编辑品牌
        </div>
        <div class="panel-body">
            {% if form_errors(form) %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ form_errors(form) }}
            </div>
            {% endif %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'brand-form'}}) }}
                {{ macro.form_row(form.name, '品牌名称', {'attr': {'class': 'form-control', 'data-check-url': path('admin_brand_edit_name_check', {id: brand.id}), 'placeholder' : '品牌名称'}}, '不大于64字符，不得重复') }}
                {{ macro.form_row(form.short_name, '名称缩写', {'attr': {'class': 'form-control', 'placeholder' : '品牌名称缩写'}}, '不大于64字符') }}
                <div class="form-group">
                    {{ form_label(form.category_id, '品牌分类', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        <div class="age-mutil-input">
                            <input type="text" class="form-control" name="category" id="category" value="{{ categoryName }}" data-url="{{ path('admin_category_load_select') }}" />
                        </div>
                        {{ form_widget(form.category_id) }}
                    </div>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.logo, '品牌LOGO', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        <a href="javascrpt:;" id="upload-logo" data-url="{{ path('admin_brand_logo_upload') }}">选择LOGO</a>
                        {{ form_widget(form.logo, {'attr': {'class': 'col-sm-10'}}) }}
                        <span class="help-block">只支持JPG、JPEG和PNG格式图片，大小102*36px</span>
                        <div id="upload-preview" class="ag-brand-logo-prev"></div>
                    </div>
                </div>
                {{ macro.form_row(form.weight, '排序', {'attr': {'class': 'form-control'}}) }}
                <div class="form-group">
                    {{ form_label(form.enable, '是否启用', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.enable, {'attr': {'class': 'col-sm-10'}}) }}
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">保存</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}