{% extends "AdminBundle:Product:layout.html.twig" %}
{% set sub_nav = 'category' %}
{% set script = 'category_list' %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            商品分类管理
        </div>
        <div class="panel-body">
            <div class="clearfix mbl">
                <span class="pull-right">
                    <div class="btn-group btn-group-sm" role="group">
                        <a href="{{ path('admin_category_add') }}" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-global">添加分类</a>
                        <a href="javascript:;" class="btn btn-danger btn-sm delete-all">批量删除</a>
                    </div>
                </span>
            </div>
            {% if not categoryTree %}
                <div class="alert alert-danger tc">分类为空</div>
            {% else %}
                <table class="table table-responsive table-hover">
                    <tr>
                        <th class="select-all text-info cursor-point" data-selected="0">全选</th>
{#                        <th>等级</th>#}
                        <th>分类名称</th>
                        <th>排序</th>
                        <th>最后修改时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    {% for top in categoryTree.top %}
                        <tr class="info">
                            <td><input type="checkbox" value="{{ top.id }}"></input></td>
{#                            <td>一级分类</td>#}
                            <td>{{ top.name }}</td>
                            <td>{{ top.sort_order }}</td>
                            <td>{% if top.update_time %}{{ top.update_time|date('y-m-d') }}{% endif %}</td>
                            <td>{{ top.create_time|date("y-m-d") }}</td>
                            <td>
                                <div class="btn-group btn-group-xs" role="group">
                                    <button type="button" class="btn btn-success">编辑</button>
                                    <button type="button" class="btn btn-danger">删除</button>
                                </div>
                            </td>
                        </tr>
                        {% set level1 = categoryTree.level1[top.id]|default(null) %}
                        {% if level1 %}
                            {% for category in level1 %}
                                <tr class="success">
                                    <td><input type="checkbox" value="{{ category.id }}"></input></td>
{#                                    <td>二级分类</td>#}
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.sort_order }}</td>
                                    <td>{% if category.update_time %}{{ category.update_time|date('y-m-d') }}{% endif %}</td>
                                    <td>{{ category.create_time|date("y-m-d") }}</td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-success">编辑</button>
                                            <button type="button" class="btn btn-danger">删除</button>
                                        </div>
                                    </td>
                                </tr>
                                {% set level2 = categoryTree.level2[category.id]|default(null) %}
                                {% if level2 %}
                                    {% for category in level2 %}
                                        <tr>
                                            <td><input type="checkbox" value="{{ category.id }}"></input></td>
{#                                            <td>三级分类</td>#}
                                            <td>{{ category.name }}</td>
                                            <td>{{ category.sort_order }}</td>
                                            <td>{% if category.update_time %}{{ category.update_time|date('y-m-d') }}{% endif %}</td>
                                            <td>{{ category.create_time|date("y-m-d") }}</td>
                                            <td>
                                                <div class="btn-group btn-group-xs" role="group">
                                                    <button type="button" class="btn btn-success">编辑</button>
                                                    <button type="button" class="btn btn-danger">删除</button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}